* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

@font-face {
	font-family: Grotesk;
	src: url(../fonts/RightGrotesk-Variable.woff2) format('woff2')
}

body {
	color: #000;
	background-color: #f4f6f9;
	font-family: Grotesk, sans-serif
}

main {
	background-color: #fff;
	z-index: 0;
	position: relative
}

footer,
nav,
section {
	max-width: 1224px;
	padding: 0 1em;
	margin: 0 auto
}

header {
	display: flex;
	position: absolute;
	color: #000;
	text-align: center;
	padding: 2em 0;
	align-items: center;
	width: 100%;
	z-index: 10
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 1em
}

header h1 {
	font-size: 2rem;
	margin: 0
}

header nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	width: 100%
}

header nav ul h1 {
	margin-right: .625em
}

header nav ul li {
	font-weight: 600
}

header nav ul li:nth-child(6) {
	margin-left: auto;
	margin-right: .625rem;
	color: #000
}

header nav ul li a {
	color: inherit;
	text-decoration: none;
	padding: .625em
}

header nav ul button {
	background-color: #006aff;
	padding: .7em 1em;
	outline: 0;
	border: none;
	border-radius: 2em;
	color: #fff;
	font-family: inherit;
	font-size: 1rem;
	margin-right: .5rem
}

header nav button:last-of-type {
	background-color: transparent;
	border: 3px solid #006aff;
	color: #006aff
}

header nav ul li:last-child {
	display: none;
	color: #fff;
	margin-left: auto
}

header nav ul li:last-child img {
	width: 1.5em
}

@media (max-width:1024px) {

	header nav ul button,
	header nav ul li {
		display: none
	}

	header nav ul li:last-child {
		display: block
	}
}

main>section:first-of-type {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
	text-align: center;
	position: relative;
	padding: 10em 3.125em;
	padding-bottom: 2em;
	gap: 2em
}

main>section:first-of-type figure img {
	width: 100%
}

main>section:first-of-type article {
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 600px
}

main>section:first-of-type article h2 {
	font-size: 3.25rem
}

main>section:first-of-type article p {
	font-size: 2rem;
	font-weight: 400
}

main>section:first-of-type article>div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center
}

main>section:first-of-type button {
	padding: .8rem 1.8rem;
	background-color: #1a79ff;
	color: #fff;
	outline: 0;
	border: none;
	border-radius: 2rem;
	font-family: inherit;
	font-weight: 700;
	font-size: 1.1rem;
	transition: box-shadow .3s ease-in-out;
	margin-right: .8em;
	margin-bottom: 1em
}

main>section:first-of-type button:hover {
	box-shadow: 0 12px 32px -16px rgba(30, 40, 53, 1)
}

@media (max-width:768px) {
	main>section:first-of-type {
		flex-direction: column;
		align-items: center;
		padding: inherit 1.125em
	}

	main>section:first-of-type figure {
		width: 100%;
		height: auto
	}

	main>section:first-of-type figure img {
		position: relative;
		top: 0
	}

	main>section:first-of-type article h2 {
		font-size: 2rem
	}
}

main>section:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 10em 3.125em;
	gap: 2em
}

main>section:nth-child(2) article:first-of-type {
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 600px
}

main>section:nth-child(2) article:first-of-type h2 {
	font-size: 3.25rem
}

main>section:nth-child(2) article:first-of-type p {
	font-size: 1.125rem;
	font-weight: 400
}

main>section:nth-child(2) article:first-of-type>div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center
}

main>section:nth-child(2) button {
	background-color: #1a79ff;
	color: #fff;
	outline: 0;
	border: none;
	border-radius: 2rem;
	font-family: inherit;
	font-size: 1.1rem;
	transition: box-shadow .3s ease-in-out
}

main>section:nth-child(2) button:hover {
	box-shadow: 0 12px 32px -16px rgba(30, 40, 53, 1)
}

main>section:nth-child(2) section {
	display: flex;
	flex-direction: column;
	background: #fff;
	box-shadow: 0 0 4px rgba(30, 40, 53, .12), 0 16px 32px -8px rgba(30, 40, 53, .2);
	border-radius: 1em;
	gap: 2em;
	padding: 1.25em;
	max-width: 500px;
	min-width: 500px
}

main>section:nth-child(2) section article {
	display: flex;
	flex-direction: row !important;
	gap: 1.2rem !important
}

main>section:nth-child(2) section time {
	background: #000;
	color: #fff;
	min-width: 60px;
	min-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

main>section:nth-child(2) section article:first-of-type div {
	display: flex;
	flex-direction: column !important;
	align-items: flex-start !important;
	justify-content: center
}

main>section:nth-child(2) section article:first-of-type div p {
	opacity: .5;
	font-size: .8rem
}

main>section:nth-child(2) section article:first-of-type div address {
	opacity: .5;
	font-style: normal;
	font-size: .8rem
}

main>section:nth-child(2) section article h2 {
	font-size: 1rem !important
}

main>section:nth-child(2) section time span:first-child {
	font-size: .8rem
}

main>section:nth-child(2) section time span:last-child {
	font-size: 1.4rem
}

main>section:nth-child(2) section ul {
	margin: 0;
	padding: 0;
	list-style-type: none
}

main>section:nth-child(2) section ul li {
	display: grid;
	grid-template-columns: 1fr repeat(4, max-content);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	gap: .5em;
	padding: .5em 0
}

main>section:nth-child(2) section ul li p {
	margin: 0
}

main>section:nth-child(2) section ul li p:nth-of-type(1) {
	grid-column-start: 1;
	grid-row-start: 1
}

main>section:nth-child(2) section ul li p:nth-of-type(2) {
	grid-column-start: 1;
	grid-row-start: 2;
	opacity: .5;
	font-weight: 400
}

main>section:nth-child(2) section ul li p strong {
	font-size: 1.25rem
}

main>section:nth-child(2) section ul li button,
main>section:nth-child(2) section ul li output {
	grid-row: 1/3
}

main>section:nth-child(2) section ul li button {
	background: rgba(26, 121, 255, .2);
	color: #1a79ff;
	border: none;
	border-radius: 1em;
	line-height: 0;
	width: 20px;
	height: 20px;
	cursor: pointer
}

main>section:nth-child(2) section ul li button:nth-of-type(1) {
	grid-column-start: 2
}

main>section:nth-child(2) section ul li button:nth-of-type(2) {
	grid-column-start: 4
}

main>section:nth-child(2) section ul li output:nth-of-type(1) {
	grid-column-start: 3;
	width: 2em;
	display: flex;
	justify-content: center
}

main>section:nth-child(2) section ul li output:nth-of-type(2) {
	grid-column-start: 5;
	width: 4em;
	display: flex;
	justify-content: flex-end
}

main>section:nth-child(2) section ul:last-of-type {
	display: flex;
	justify-content: space-between
}

main>section:nth-child(2) section ul:last-of-type h3,
main>section:nth-child(2) section ul:last-of-type p {
	margin: 0
}

main>section:nth-child(2) section ul:last-of-type p {
	opacity: .5
}

main>section:nth-child(2) section ul:last-of-type button {
	padding: .8rem 1.8rem;
	background-color: #1a79ff;
	color: #fff;
	border: none;
	align-self: center;
	border-radius: 2rem;
	font-family: inherit;
	font-weight: 700;
	font-size: 1.1rem;
	cursor: pointer;
	transition: box-shadow .3s ease-in-out
}

main>section:nth-child(2) section ul:last-of-type button:hover {
	box-shadow: 0 12px 32px -16px rgba(30, 40, 53, 1)
}

@media (max-width:1024px) {
	main>section:nth-child(2) {
		flex-direction: column;
		align-items: center;
		gap: 4em
	}

	main>section:nth-child(2) article:first-of-type {
		text-align: center
	}

	main>section:nth-child(2) section {
		max-width: 100%;
		min-width: 80%
	}

	main>section:nth-child(2) article h2 {
		font-size: 2rem
	}
}

footer {
	padding: 3em 1em;
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center
}

footer section {
	display: flex;
	flex-direction: column;
	flex: 1 1 200px
}

footer ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 1em
}

footer h2 {
	margin-top: 2em
}

footer ul a {
	display: block
}

body>section:nth-last-of-type(2) {
	display: flex;
	flex-wrap: wrap;
	gap: .4em;
	padding: 2em 0;
	width: 100%
}

body>section:nth-last-of-type(2) p {
	width: 400px;
	opacity: .5
}

body>section:nth-last-of-type(2) img:first-of-type {
	margin-left: auto
}

body>section:last-of-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 1em 0
}

body>section:last-of-type p {
	margin-right: auto
}

body>section:last-of-type a {
	color: inherit;
	opacity: .5;
	margin-right: .8em;
	text-decoration: none
}

body>section:last-of-type a:hover {
	text-decoration: underline;
	opacity: 1;
	text-underline-offset: .3em
}

@media (max-width:768px) {
	footer ul {
		flex-direction: column
	}

	body>section:nth-last-of-type(2) img:first-of-type {
		margin-left: 0;
		margin-top: 1em
	}

	body>section:last-of-type,
	body>section:nth-last-of-type(2) {
		padding: 1em;
		flex-direction: column;
		text-align: center
	}

	body>section:last-of-type p {
		margin: 0 auto 1em
	}

	body>section:last-of-type a {
		margin: .5em
	}
}